.ImgCard {
    width: 50%;
    min-width: 400px;
    margin: 0 auto 5svh auto;
    border: 1px solid #dad6d6;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsla(225, 43%, 25%, 1);
}
.CardHeader {
    display: grid;
    grid-auto-columns: 50% 50%;
    width: 100%;
    background-color: hsla(225, 27%, 13%, 1);
    border-radius: 20px 20px 0 0;
    padding: 0.5% 2%;
}
    .CardHeader .Author {
        display: grid;
        grid-row: 1;
        grid-column: 1;
    }
    .CardHeader .DateOfPosting {
        display: grid;
        grid-row: 1;
        grid-column: 2;
        text-align: right;
    } 
.CardBody {
    display: grid;
    padding: 1.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
    .CardBody img {
        display: block;
        width: 100%;
        grid-row: 1;
    }
.Tags {
    grid-row: 2;
}
.Tag {
    margin: 2% 0.5% 0.5% 0.5%;
    width: fit-content;
    display: inline-block;
    border: 1px solid #dad6d6;
    border-radius: 10px;
    padding: 1% 2%;
    background-color: hsla(225, 27%, 13%, 1);
}
.CardButtons {
    grid-row: 3;
    text-align: right;
    box-sizing: border-box;
}
    .CardButtons .optionButton {
        background: none;
        text-decoration: none;
        display: inline-block;
        box-sizing: border-box;
        border: none;
        width: 10%;
        color: #dad6d6;
        padding: 2% 2% 2% 0;
    }
    .CardButtons .optionButton:hover {
        font-weight: bold;
        cursor: pointer;
        color: #ffffff;
        transition: 0.2s;
    }
