
@{
    ViewData["Title"] = "Generator";
}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="~/js/script.js"></script>
    <script type="text/javascript" src="~/js/LZWEncoder.js"></script>
    <script type="text/javascript" src="~/js/NeuQuant.js"></script>
    <script type="text/javascript" src="~/js/GIFEncoder.js"></script>
    <script type="text/javascript" src="~/js/b64.js"></script>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div id="container">
        <h1>GIFTer</h1>
        <hr />
        <div id="navi">
            Select or drag file:
            <input type="file" accept="video/*" id="upload" />
        </div>
        <div id="movie">
            <video id="preview">
                <source id="videoSource">
            </video>
        </div>
        <div id="gifCanvas">
            <canvas id="workplace"></canvas>
        </div>
        <div id="result">
            <img id="outputGif" alt='Cannot open file :/' />
            <hr />
        </div>
        <div id="sauce">
        </div>
        <div id="btnDownload">
            <a id="download">💾 Save</a>
        </div>
        <div id="progress">
            <progress id="progressBar" value="0"> </progress>
        </div>
        <div id="hoverOverlay">
            <h1><div id="box">Drag here your file</div></h1>
        </div>
    </div>
</body>

