@model Gif
@{
    ViewData["Title"] = "Generator";
}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="~/js/script.js"></script>
    <script type="text/javascript" src="~/js/LZWEncoder.js"></script>
    <script type="text/javascript" src="~/js/NeuQuant.js"></script>
    <script type="text/javascript" src="~/js/GIFEncoder.js"></script>
    <script type="text/javascript" src="~/js/b64.js"></script>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div id="container">
        <h1>GIFTer</h1>
        <hr />
        <div id="navi">
            Select or drag file:
            <input type="file" accept="video/*" id="upload" />
        </div>
        <div id="movie">
            <video id="preview">
                <source id="videoSource">
            </video>
        </div>
        <div id="gifCanvas">
            <canvas id="workplace"></canvas>
        </div>
        <div id="result">
            <img id="outputGif" alt='Cannot open file :/' />
            <hr />
        </div>
        <div id="sauce">
        </div>
        <div id="btnDownload">
            <button class="download" id="download">💾 Save</button>
            <button class="download" id="btnStoreDB">Save in Web</button>
        </div>
        <div id="progress">
            <progress id="progressBar" value="0"> </progress>
        </div>
        <div id="hoverOverlay">
            <h1><span id="box">Drag here your file</span></h1>
        </div>
        <div class="modal" id="savePrompt">
            <div class="modal-content">
                <h2>Type gif details</h2>
                <h3>Add tags: <span id="addTag">+</span></h3>
                <ul id="tags">
                    <li><input type="text" class="tag" /></li>
                </ul>
                <form method="post">  
                </form>
            </div>
        </div>
    </div>
</body>

